*.elc
*~
\#*\#
.DS_Store
.emacs.desktop*
.tutor/*
.mc-lists.el
.yas-compiled-snippets.el
abbrev_defs
projectile-bookmarks.eld
projectile.cache
recentf
ac-comphist.dat
irony/*
elpa/*
backups/*
eshell/*
request/*
url/*
init.d/init-package-private.el
straight/repos/*
straight/build-cache.el
site-lisp/*